/* GLOBAL */
body {
  margin: 0;
  font-family: "Poppins";
  background-color: #03071e;
  box-sizing: border-box;
}

/* LAYOUT */
header,
section,
footer {
  margin: 1.25em 0;
}

.container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* HEADER */
header .container {
  width: 95%;
}

.logo img {
  height: 6rem;
}

.main-nav ul {
  margin: 0 1rem;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.main-nav {
  font-weight: 600;
}

.main-nav li {
  transition: background-color 0.3s, color 0.3s;
}

.main-nav a {
  text-decoration: none;
  color: whitesmoke;
  padding: 0.4rem;
  transition: background-color 0.3s, color 0.3s;
}

.main-nav a:hover {
  color: #d00000;
}

.hamburger {
  display: none;
  font-size: 2rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  z-index: 100;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .main-nav ul {
    margin: 0;
    padding-top: 8rem;
    flex-direction: column;
    background-color: #03071e;
    position: absolute;
    top: 0;
    right: 0;
    width: 35%;
    display: none;
  }

  .main-nav ul.active {
    display: flex;
  }

  .main-nav li {
    padding: 0;
  }

  .main-nav a {
    text-align: left;
    padding: 15px;
    color: white;
    display: block;
  }
}
